<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
    <%- include('./partials/nav.ejs')  %>
    <div class="index">
   
    <div id="blogs">
    <% if(blogs.length>0){ %>
        <% blogs.forEach(blog=>{ %>
            <div id="blog">
            <a class="single" href="/blogs/<%= blog._id%>">
            <h3 class="head"><%= blog.title %></h3>
            <p class="snippet"><%= blog.snippet %></p>
            </a>
        </div>
        <% }) %>
    <% } else{ %>
        <p>There are no blogs...</p>
    <% } %>
</div>
</div>
</body>
</html>